h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 260101061-01 - Clasificar la mercancía de acuerdo con el arancel de aduanas.
