h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 260101061-01 - Interpretar la situación actual del mercado nacional e internacional de acuerdo con herramientas de diagnostico.
