.container
    .header-ecored
        h1 3 Arancel de aduanas
    .jumbotron.bg-white
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/rfe70yH_F2U', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   
        .sub-ecored#31.mt-5
            h2 3.1 Derechos de aduana  
        p.mt-5 En la aduana del país de destino, los tres principios en los que se basarán para aplicar los derechos de importación son: 
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span El arancel de aduanas que se deba aplicar según la clasificación arancelaria.
        .list.mt-3
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span El valor en aduana. 
        .list.mt-3
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span El origen de las mercancías.
        .row.mt-5             
            .col-3.caja-4
                p.text-center.mt-4 #[strong Arancel de aduana]
            .col-9.caja-5
                p.mt-4 Son tributos o impuestos que gravan la importación de mercancías con objeto de proteger el mercado interior de aquellas importaciones que sean más competitivas que la producción nacional.
        .row.mt-3             
            .col-3.caja-4
                p.text-center.mt-5 #[strong Valor en aduana]
            .col-9.caja-5
                p.mt-4 Aplicable solo en la importación) se basa en el valor real de la mercancía importada, a la que se aplica el arancel. El valor real debería ser el precio al que, en un tiempo y lugar determinados por la legislación del país importador, las mercancías son vendidas u ofrecidas para la venta en el curso de operaciones comerciales en libre competencia.
        .row.mt-3            
            .col-3.caja-4
                p.text-center.mt-5 #[strong El origen de las mercancías]
            .col-9.caja-5
                p.mt-4 Es el vínculo geográfico que existe ente una mercancía y el país en el que ha sido producida, manufacturada o transformada. Si en la producción de un bien intervienen dos o más países, el bien será originario del país donde se haya producido la última transformación substancial, donde cambiará su código arancelario. Es importante determinar correctamente cuál es el origen porque la aplicación de un tipo de un arancel u otro dependerá de este. Es decir, el origen de la mercancía determina si el arancel es normal, reducido o incrementado, o si no se aplica y se considera libre de derechos.
        .sub-ecored#32.mt-5
            h2 3.2 Sistema armonizado  
        p.mt-5 Cerviño (2014), afirma que:
        p “Para conocer qué arancel se puede aplicar a un producto, la empresa debe buscar cuál es la nomenclatura arancelaria que afecta a dicho producto. Regularmente, los productos son consignados o clasificados bajo una nomenclatura o codificación de uso general y de reconocimiento internacional.
        p Esta nomenclatura corresponde al Sistema Armonizado de Designación y Codificación de Mercancías, el cual clasifica los productos mediante códigos de seis dígitos que pertenecen a 97 capítulos arancelarios, a su vez articulados en 21 secciones. 
        p La secuencia que se sigue pasa de lo más general a lo particular, de lo más simple a lo más complejo y de lo menos elaborado a lo más elaborado. 
        p La fracción arancelaria se conforma de la siguiente manera: los dos primeros dígitos corresponden a los capítulos arancelarios. Los capítulos se subdividen en 1.242 partidas y también constan de dos dígitos que se sitúan después del número del capítulo al que pertenecen.
        p Las partidas se subdividen en 5.019 subpartidas, que corresponden a los dos siguientes dígitos de la tracción arancelaria. 
        p La clasificación, no obstante, puede llevarse a un desglose de hasta 10 dígitos. Los cuatro últimos son de carácter nacional. 
        p La nomenclatura arancelaria constituye una estructura legal y lógica que garantiza uniformidad en su aplicación en cualquier parte del mundo”.
        h3.mt-5 Nomenclatura arancelaria:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img19.svg", alt="").img-fluid
        p.mt-3 Fuente: LEGISCOMEX (s.f.).
        p.mt-5 “Así se garantiza que un producto será clasificado siempre bajo el mismo código, independientemente del país en el que se lleve a cabo la transacción. Esto permite un mayor entendimiento y un mayor nivel de transparencia en la transacción, facilitando además la generación de estadísticas comparables entre países y regiones. 
        p En este sentido, cada país dispone de un documento que resume los aranceles y otros impuestos que tienen establecidos a las importaciones. Por esta razón, debe tenerse mucho cuidado en verificar, a través de una fuente oficial en cada país de interés, los impuestos que corresponden a los productos que la empresa quiera exportar o comercializar. 
        p A partir de este código el exportador o importador puede determinar cuáles son los aranceles vigentes de su producto en el país de su interés. En los tratados comerciales o acuerdos de libre comercio entre países, los niveles de los aranceles son negociados, lo cual puede implicar un trato diferenciado para algunos de los productos provenientes de los países negociadores, como por ejemplo los acuerdos del Sistema de Preferencias Generalizadas (SPG). 
        p El SPG es un mecanismo mediante el cual los países desarrollados otorgan preferencias arancelarias y no recíprocas (unilateral) a los países en desarrollo, con el objetivo de favorecer la diversificación de la producción y de las exportaciones. 
        p Este sistema nace en la Conferencia sobre Comercio y Desarrollo de las Naciones Unidas para otorgar preferencias comerciales a países en desarrollo. Es una ayuda a las economías menos competitivas para que puedan competir con los países desarrollados. Para la fijación de los aranceles, y debido a los sistemas preferenciales y otros acuerdos bilaterales y multilaterales, es importante el origen del producto y su verificación, en el sentido de que, en función de este origen, los productos soportarán uno u otro arancel” (Cerviño, 2014).
        p Recuerde que a nivel de seis (6) dígitos es una subpartida reconocida universalmente. La Comunidad Andina (CAN) tiene una nomenclatura de ocho (8) dígitos y en Colombia 10 dígitos. Se puede solicitar una clasificación arancelaria oficial ante Servicio de Arancel de la Subdirección de Gestión Técnica Aduanera de la DIAN, única entidad autorizada para clasificar mercancías en el país.
        p Con la subpartida arancelaria, se obtienen diversos beneficios y es posible verificar requisitos de forma más eficiente.
        .sub-ecored#33.mt-5
            h2 3.3 Historia del arancel de aduanas
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img20.png", alt="").img-fluid  
        p.mt-5 Desde tiempos remotos ha existido el interés de poder clasificar las mercancías objeto de comercio exterior, ya sea para aplicar impuestos o con fines estadísticos. Es así como se pensó en establecer un sistema de clasificación de mercancías; primero como una lista alfabética de productos a los cuales se les aplicaba un impuesto o se eximía de su cobro; como no era suficiente, las listas se hacían muy extensas y de difícil aplicación por las autoridades aduaneras; se desarrolló entonces una nomenclatura basada en la naturaleza de las mercancías.
        p A partir de 1831 se presentaron nomenclaturas teniendo en cuenta: materias primas, artículos manufacturados y de producción. Durante más de 100 años se celebraron un sin número de congresos buscando la manera de establecer una nomenclatura arancelaria que se ajustará a la mayoría de los países en la identificación de los bienes objeto de comercio exterior.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img21.png", alt="").img-fluid 
        p.mt-5 En el año de 1937 se llegó a conocer la “Nomenclatura de Ginebra” la cual constaba de 21 Secciones, 86 Capítulos y 991 partidas arancelarias principales, numeradas consecutivamente del 01 al 991; tenía partidas secundarias y terciarias (subpartidas). Las partidas primarias eran obligatorias pero los países podían modificar las terciarias teniendo en cuenta (...). En Colombia se comenzó a aplicar en el año de 1950.
        h3.mt-5 Gráfico nomenclatura de Ginebra:
        .header-arrow
            h3.text-center NOMENCLATURA DE GINEBRA. Su estructura consta de XXI Secciones, #[br] con 86 Capítulos y 991 partidas. Se compone por:
        .row.mt-5            
            .col-3.caja-4
                p.text-center.mt-5 #[strong Secciones]
            .col-9.caja-5
                p.mt-4 Están en números romanos de forma progresiva y comprenden los grandes grupos de mercaderías desde la menos elaborada a la que posee mayor valor agregado. El texto de las secciones determina el lugar donde se agrupan ciertos tipos de mercadería. En el ejemplo citado en pagina 2, la posición arancelaria pertenece a la Sección XXI.
        .row.mt-3             
            .col-3.caja-4
                p.text-center.mt-4 #[strong Capitulos]
            .col-9.caja-5
                p.mt-4 Son el resultado de la división de las secciones. Están denominados en números arábigos de orden progresivo y su orden está establecido desde lo más simple a los más complejo y elaborado. 
        .row.mt-3             
            .col-3.caja-4
                p.text-center.mt-5 #[strong Partidas]
            .col-9.caja-5
                p.mt-4 Son la división de los capítulos y se identifican por dos (2) dígitos que continúan a los dos (2) dígitos del capítulo. También se expresan en números arábigos
        .row.mt-3            
            .col-3.caja-4
                p.text-center.mt-5 #[strong Subpartidas]
            .col-9.caja-5
                p.mt-4 Corresponden a la división de las partidas a nivel de seis (6) dígitos. Podemos encontrar apertura de la subpartida con un (1) guión (-) y dos (2) guiones (—) utilizados para dar una mayor especificación en la codificación. 
        p.mt-5 Esta nomenclatura se utilizó como base para algunas tarifas arancelarias, pero no llegó a tener suficiente influencia para producir una verdadera normalización de las nomenclaturas aduaneras.
        p La necesidad de una reconstrucción económica en el período de la postguerra hizo imperativo que se estableciera una nomenclatura común reconocida a nivel internacional.
        p Después de la post guerra se estableció la “Nomenclatura de Ginebra” y “la Unión Aduanera Europea” empezó su revisión y se culminó con la “Nomenclatura de Bruselas” (NAB), adoptada el 1° de Julio de 1955 en otros países. En Colombia se inicia su aplicación en el año de 1964.
        p Para evitar confusiones, el organismo internacional responsable Bruselas, en 1974, se empieza a denominar “Nomenclatura del Consejo de Cooperación Aduanera (NCCA)”. Continúa manteniendo 21 Secciones, pero aumenta el número de capítulos a 99 y 1011 partidas arancelarias.
        p Desde el año de 1960 se comienza a sentir la necesidad de una nomenclatura uniforme que se utilizara universalmente, no solo para las aduanas, sino también para el transporte, el seguro de las mercancías y las estadísticas del comercio internacional. Es así como el 14 de junio de 1983, en Bruselas, fue aprobado por el Convenio de Cooperación Aduanera (hoy Organización Mundial de Aduanas –OMA-) el “Sistema Armonizado de Designación y Codificación de Mercancías”, en adelante, Sistema Armonizado, el cual entró a regir el 1° de enero de 1988 (LEGISCOMEX, s.f.).
        .sub-ecored#34.mt-5
            h2 3.4 ¿Por qué debo tener una partida arancelaria?
    
        .row.justify-content-center.align-items-center.mt-5
            .col-5
                .jumbotron.caja-2
                    h3.text-center Con la partida de producto usted puede verificar
        .jumbotron.caja-3       
            .row.justify-content-center.align-items-center
                .col-9
                    .row.justify-content-center.align-items-center
                        .col-auto.mr-auto  
                            img.img-a(src="assets/images/pages/ilustraciones/img22.svg", alt="").img-fluid
                            p.text-center.caja-6 Derechos de aduana
                        .col-auto.mr-auto  
                            img.img-a(src="assets/images/pages/ilustraciones/img23.svg", alt="").img-fluid
                            p.text-center.caja-6 Impuestos 
                        .col-auto.mr-auto  
                            img.img-a(src="assets/images/pages/ilustraciones/img24.svg", alt="").img-fluid
                            p.text-center.caja-6 Permisos especiales
                    .row.justify-content-center.align-items-center                            
                        .col-auto.mr-auto 
                            img.img-a(src="assets/images/pages/ilustraciones/img25.svg", alt="").img-fluid
                            p.text-center.caja-6 Derechos de aduana
                        .col-auto.mr-auto
                            p.text-center.caja-7 Documentos que debe adjuntar para que el importador no tenga inconvenientes en el momento de recibir su mercancía.
                    .row.justify-content-center.align-items-center                        
                        .col-auto.mr-auto  
                            img.img-a(src="assets/images/pages/ilustraciones/img26.svg", alt="").img-fluid
                            p.text-center.caja-6 Permisos especiales            
        section.mt-5
                