.container
    .header-ecored
        h1 4. Introducción al plan de mercadeo
    .jumbotron.bg-white   
        h2 Introducción
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img32.png").img-fluid
        p.mt-5 Antes de referirnos al plan de mercadeo, es importante recordar el concepto de mercadeo, el cual es definido como “el proceso de desarrollar, promover y distribuir productos con el fin de satisfacer necesidades y deseos de los clientes” (Scheeider, F. L.,2001, p.3).
        p Refiriéndonos al plan de mercadeo, es la herramienta flexible orientada a mejorar y aprovechar los recursos con los que cuenta la empresa, para mejorar así su organización y abrir camino para conseguir resultados propuestos, generando direccionamiento a la promoción de los productos, facilitando un acceso eficiente de los clientes potenciales.
        p Se debe precisar la estrategia publicitaria, de manera que involucre la proyección de comercialización y los medios de publicidad a incorporar en el plan de mercadeo.
        p El plan de mercadeo se define en dos etapas cruciales: una de diagnóstico y otra de ejecución; en ambas etapas, la investigación de mercados, con sus pasos, se convierte en una base fundamental para elaborar planes sólidos a través del tiempo, que además de responder a las necesidades del mercado, generen rentabilidad.
        .sub-ecored#41.mt-5
            h2 4.1 Mapa conceptual “Plan de mercadeo”
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img33.svg").img-fluid
        .sub-ecored#42.mt-5
            h2 4.2 Objetivos del plan de mercadeo
        p.mt-5 Los objetivos de relevancia a considerar para un buen plan de mercadeo son los siguientes:
        .row.justify-content-center.align-items-center.mt-5
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img34.svg").img-fluid 
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img35.svg").img-fluid 
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img36.svg").img-fluid                  
        .row.justify-content-center.align-items-stretch
            .col-3.mx-2.pt-6.px-4.pb-4.colorCard1
                p Incrementar la participación en el mercado.
            .col-3.mx-2.pt-6.px-4.pb-4.colorCard1
                p Mantener la participación en el mercado.
            .col-3.mx-2.pt-6.px-4.pb-4.colorCard1
                p Maximizar el flujo de efectivo.
        .row.justify-content-center.align-items-center.mt-5
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img37.svg").img-fluid 
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img38.svg").img-fluid 
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img39.svg").img-fluid                  
        .row.justify-content-center.align-items-stretch
            .col-3.mx-2.pt-6.px-4.pb-4.colorCard1
                p Defender la rentabilidad.
            .col-3.mx-2.pt-6.px-4.pb-4.colorCard1
                p Estimular la compra o recompra.
            .col-3.mx-2.pt-6.px-4.pb-4.colorCard1
                p Realizar compras más frecuentes.
        .row.justify-content-center.align-items-center.mt-5
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img40.svg").img-fluid 
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img41.svg").img-fluid 
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img42.svg").img-fluid                  
        .row.justify-content-center.align-items-stretch
            .col-3.mx-2.pt-6.px-4.pb-4.colorCard1
                p Estimular la prueba de producto.
            .col-3.mx-2.pt-6.px-4.pb-4.colorCard1
                p Modificar el comportamiento de compra.
            .col-3.mx-2.pt-6.px-4.pb-4.colorCard1
                p Realizar ventas en mayores cantidades.
        .jumbotron.colorCard2.mt-5
            .row.justify-content-center.mt-5
                .col-2
                    img.img-a(src="assets/images/pages/ilustraciones/img43.svg").img-fluid   
                .col-10
                    h3 Ejemplos de objetivos del plan:
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                        .list__txt 
                            span Alcanzará en el año 2019 unas ventas de 3546 kilos, equivalentes a $245.6 millones de pesos.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                        .list__txt 
                            span Obtener en el año 2019 una utilidad neta del 12% sobre las ventas netas.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                        .list__txt 
                            span Incrementar, en el año 2019, en un 2%, la participación en el mercado, para alcanzar un total de 18%   
                    h3.mt-5 Objetivos de ventas
                    p Estos deben estar claramente definidos y reflejados en el plan de marketing y ventas; siendo necesario que su conocimiento sea bien comprendido por toda la organización.
        .header-arrow.my-5.py-4
            h3.text-center Para definir los objetivos se deben tener en cuenta los factores cuantitativos y cualitativos que se mencionaran a continuación:
        p.mt-5 #[strong Factores cuantitativos de los objetivos:] Son factores que se pueden medir en términos numéricos, como el tiempo, costos fijos o costos de operación, entre otros.
        p Objetivos de este tipo son los siguientes:
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Tendencias de ventas y de participación.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Ventas del mercado.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Tendencias de participación en el mercado.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Tamaño y tendencia del grupo objetivo.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Consideraciones de presupuesto, utilidades y precios
        p.mt-5 #[strong Factores cualitativos de los objetivos:] Son factores de difícil medición numérica, tal es el caso de la medición del clima laboral de la empresa. Son útiles para tomar decisiones sobre la base de la intuición, las opiniones de expertos o de necesidades de la clientela. 
        p Ejemplo de ellos:
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Ajuste de los objetivos con base en la estimación de factores de la economía.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Competencia.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Ciclo de vida del producto.
        .sub-ecored#43.mt-5
            h2 4.3 Estrategia básica del mercadeo 
        .jumbotron.colorCard3
            img.img-a(src="assets/images/pages/ilustraciones/img44.svg", alt="").img-fluid   
            .row
                .col-6
                    .caja-body
                        p Dentro de las estrategias básicas y relevantes para el marketing, las más importantes son la demanda primaria y la demanda selectiva, las cuales se abordarán a continuación:
        h3.mt-5 Estrategias para estimular la demanda primaria
        p.mt-5 Para el caso de la demanda primaria se plantean las siguientes estrategias como elementos que la estimulan:
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Diseñar mecanismos para aumentar el nivel de demanda de una forma o clase de producto.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Buscar nuevas fuentes de demanda en no usuarios y en usuarios actuales.
        p.mt-5 La demanda primaria requiere del desarrollo de estrategias para atraer a los no usuarios; algunas de las alternativas planteadas para el logro de este objetivo son:
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Aumentar la disposición de compra.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Demostrar los beneficios con que ya cuenta el producto.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Demostrar o promover nuevos beneficios de los productos existentes (mejoras).
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Ampliar las opciones de productos con beneficios que sean más atractivos para ciertos segmentos (extensiones de línea).
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Aumentar en la capacidad de compra.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Reducir los precios.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Dar facilidades de pago.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Mantener stock del producto.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Eficiencia en la logística de despacho.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Optimizar el inventario.
        h3.mt-5 Estrategias para estimular la demanda selectiva
        p.mt-5 Los mecanismos diseñados como una oportunidad para incrementar la demanda selectiva de una marca específica, y su influencia en el mercado, refieren a tres formas diferentes de acción:
        p Mediante la expansión del mercado servido, mediante la captación de clientes de la competencia y mediante la conservación y expansión de las ventas dentro de la base de clientes actuales de la firma.
        .colorCard4.mt-5
            p #[strong Ampliación del mercado servido:] el mercado servido se encuentra referido al mercado disponible al que la empresa decide dirigir sus esfuerzos del mercado meta.
            .row.justify-content-center.align-items-center.mt-5
                .col-9
                    h3 Las estrategias son: 
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/vineta2.svg", alt="").img-fluid
                        .list__txt 
                            span Ampliar la distribución.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/vineta2.svg", alt="").img-fluid
                        .list__txt 
                            span Explorar nuevos mercados geográficos.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/vineta2.svg", alt="").img-fluid
                        .list__txt 
                            span Ampliar los canales de distribución.
                .col-2
                    img.img-a(src="assets/images/pages/ilustraciones/img45.svg", alt="").img-fluid
        .colorCard5.mt-5
            p #[strong Captación de clientes de la competencia:] su acción básica se centra en ofrecer los mismos beneficios que la competencia, intentando superarla de alguna forma.
            .row.justify-content-center.align-items-center.mt-5
                .col-9
                    h3 Las estrategias son: 
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/vineta3.svg", alt="").img-fluid
                        .list__txt 
                            span Ampliar el surtido.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/vineta3.svg", alt="").img-fluid
                        .list__txt 
                            span Mayor fuerza de ventas.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/vineta3.svg", alt="").img-fluid
                        .list__txt 
                            span Desarrollar un valor agregado.
                .col-2
                    img.img-a(src="assets/images/pages/ilustraciones/img46.svg", alt="").img-fluid

        
        .colorCard4.mt-5
            p #[strong Con el posicionamiento diferenciado:] la demanda selectiva intenta hacer distinción mediante el ofrecimiento de atributos particulares, con el fin de animar a los clientes a percibir el producto como diferente y deseable.
            .row.justify-content-center.align-items-center.mt-5
                .col-9
                    h3 Las estrategias son: 
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/vineta2.svg", alt="").img-fluid
                        .list__txt 
                            span Desarrollar beneficio atributo. Ejemplo calidad y precio.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/vineta2.svg", alt="").img-fluid
                        .list__txt 
                            span Posicionar los nichos de mercado.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/vineta2.svg", alt="").img-fluid
                        .list__txt 
                            span Optimizar la promoción de los distribuidores.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/vineta2.svg", alt="").img-fluid
                        .list__txt 
                            span Reforzar la lealtad del consumidor hacia una marca.               
                .col-2
                    img.img-a(src="assets/images/pages/ilustraciones/img47.svg", alt="").img-fluid
        section.mt-5